body{
background-color: #1b3a70;
}
h1 {
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #f4c6ff;
    font-size: 3em;
    margin-top: -0.5%;
}
#parcours{
text-align: left;    
border: inset #f7ffff;
line-height: 2em;
font-style: oblique 35deg;
margin-bottom: 1.3em;
margin-top: -1.5%;
margin-right: 16%;
margin-left: 0.2%;
}
h2{
    text-decoration: underline;
}
.img img{
width: 10rem;
margin-top: -33%;
}
.list{
    list-style-type: none;
    text-align: left;
    padding: 0px;
    color: #f7ffff;
    display: block;
    margin-top: -0.5%;
}
#name{
font-weight: bold;
 }
a:hover{
    color: rgb(255, 255, 44);
}
#lien{
    border: dotted #f7ffff;
    color:#fff4ca;
    margin-top: -10px;
}
.projet{
 color: #fff800;
}
a{
    color:#fff4ca;
}
.container{
    display: flex;
}